.header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px gray;
    background-color: white;
    border-radius: 5px;
}

.bigDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.littleDivTitle {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.littleDivEmpty {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    color: blue;
    padding-left: 1rem;
}
.titlespan {
    color: red;
}

@media only screen and (max-width: 800px) {
    .littleDivEmpty {
        display: none;
    }

    .bigDiv {
        justify-content: flex-end;
    }

    .header {
        justify-content: space-between;
    }
}