.postsDiv {
    width: 80%;
    position: absolute;
    top: 70px;
    right: 25px;
}

.loading {
    width: 100%;
    box-shadow: 0 0 5px gray;
    margin: 10px auto;
    border-radius: 5px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .postsDiv {
        position: static;
        width: 100%;
        margin: 0 auto;
    }
}