.comments_container {
    padding-bottom: 10px;
}

.button {
    background-color: white;
    border: none;
    border-radius: 5px;
}
.button:hover {
    box-shadow: 0 0 2px gray;
    cursor: pointer;
}
.button:active {
    box-shadow: -2px -2px gray;
}

.loading {
    width: 90%;
    box-shadow: 0 0 5px gray;
    margin: 10px auto;
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}