.tile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding-left: 0.5rem;
    width: 90%;
    background-color: white;
    border: none;
    margin: 1px 0;
}

.tile:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.tile:focus {
    background-color: #f2f2f2;
    box-shadow: 0 0 2px gray;
}